<div class="d-flex row flex-wrap justify-content-around">
  <div *ngFor="let item of examDetailData?.questionDtos">
    <div class="tab-pane fade show active my-5 mx-5">
      <div class="card mb-3">
        <div class="card-body">
          <div class="question ml-sm-5 pl-sm-5 pt-2">
            <div>
              <div>
                <p class="question-content text-smd pb-1">Nội dung câu hỏi: {{item.questionContent}}</p>
              </div>
              <div class="question-item-answer">
                <div class="answer-head">
                  <span class="font-sm text-secondary ">câu trả lời</span>
                </div>
                <div *ngFor="let answer of item.answerDtos" class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                  <label>
                    <input type="radio" [name]="'question_' + item.questionId" [value]="answer.answerId"
                      (change)="onItemChange($event, item.questionId)">
                    {{ answer.answerContent }}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <button class="submitTest" (click)="submitData()">Submit</button>
</div>
<div>
  <app-count-down [time]="testTime"></app-count-down>
</div>